@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
	font-family: 'consolas';
}

thead{
	background-color: #00B8FF;
	color: white;
}
table{
	border-radius: 10px;
}
tr td:first-child,
tr th:first-child{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
tr td:last-child,
tr th:last-child{
	border-top-right-radius: 6px;
	border-bottom-right-radius:6px;
}
h5 {
	font-family : 'Noto Sans KR';
	font-size : 15px;
}
h4 {
	font-family : 'Noto Sanse KR';
}
h3{
	font-family : 'Hanna';
}
h2{
	font-family : 'Hanna';
}
h1{
	font-family : 'Hanna';
}
.vertical-alignment-helper {
	display: table;
	height:100%;
	width: 100%;
	pointer-events:none;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

nav {
	background-color: #00B8FF;
	border: 4px solid #00B8FF;
	border-radius: 10px;
	display: inline-flex;
	overflow: hidden;
}
nav input { display: none; }
nav label {
	color: #fff;
	padding: 0.4em 0.8em;
	position: relative;
	z-index: 0;
	transition: color 0.4s ease-out;
}
nav .male {
	z-index: 1;
}
nav .female::after {
	background-color: #fff;
	border-radius: 10px;
	color: transparent;
	content: '여자';
	display: inline-block;
	padding: 0.4em 0.8em;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	transition: left 0.4s ease-out;
}
nav input:checked + label {
	color: #00B8FF;
}
nav #male:checked ~ .female::after {
	left: -100%;
}
.modal-content{
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: none;
}





